Here are the :coffee: matches for this week!

{% for group in groups %}
Group {{ loop.index }}: {% for user in group %} <@{{ user.id }}> {% endfor %}
{% endfor %}

Bot source code is <https://github.com/Vernacular-ai/ccb|here>. Check <https://outline.vernacular.ai/doc/coffee-catchups-0ZX7wUGhtm|this doc> if you don't know what this is all about.